nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    font-size: 1rem;
}
nav a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}
#accueil {
    grid-column: 1/3;
}
#register {
    grid-column: 4/5;
}
#login {
    grid-column: 5/6;
}